/* screen - iphone-x-xs-11-pro-22 */

.iphone-x-xs-11-pro-22 {
  background-color: var(--onyx);
  height: 812px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}
.iphone-x-xs-11-pro-22 .althash-polls-C61RwL {
  background-color: transparent;
  color: var(--white);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 113px;
  letter-spacing: 0.00px;
  line-height: 25px;
  opacity: 0.94;
  position: absolute;
  text-align: left;
  top: 169px;
  white-space: nowrap;
  width: auto;
}
.iphone-x-xs-11-pro-22 .create-pin-2zqKZg {
  background-color: transparent;
  bottom: -4px;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 13px;
  opacity: 0.94;
  position: absolute;
  right: calc(49.42% - 32px);
  text-align: left;
  white-space: nowrap;
  width: 64px;
}
.iphone-x-xs-11-pro-22 .create-your-account-C61RwL {
  background-color: transparent;
  color: var(--white);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 114px;
  letter-spacing: 0.00px;
  line-height: 16px;
  opacity: 0.94;
  position: absolute;
  text-align: left;
  top: 250px;
  white-space: nowrap;
  width: auto;
}
.iphone-x-xs-11-pro-22 .ee-asset-1-0N6bnk {
  background-color: transparent;
  height: calc(100.00% - 7px);
  left: 3px;
  position: absolute;
  top: 3px;
  width: calc(100.00% - 7px);
}
.iphone-x-xs-11-pro-22 .ellipse-21-6M35ge {
  background-color: var(--white);
  border-radius: 14px/15px;
  height: 30px;
  position: absolute;
  right: -4px;
  top: -4px;
  width: 28px;
}
.iphone-x-xs-11-pro-22 .enter-pin-again-6O7KbK {
  background-color: transparent;
  bottom: -4px;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 13px;
  opacity: 0.94;
  position: absolute;
  right: calc(49.66% - 45px);
  text-align: left;
  white-space: nowrap;
  width: 91px;
}
.iphone-x-xs-11-pro-22 .group-100-ojVoqP {
  background: linear-gradient(88.58deg, rgba(122, 188, 241, 0.88) 0.32%, rgba(32, 137, 220, 0.88) 6.54%, rgba(32, 137, 220, 0.88) 72.19%, rgba(27, 124, 200, 0.88) 94.62%, rgba(0, 92, 164, 0.88) 99.62%);
  background-color: transparent;
  border-radius: 10px;
  filter: blur(4px);;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 100%;
}
.iphone-x-xs-11-pro-22 .group-112-b2XujX {
  -webkit-backdrop-filter: blur(10px) brightness(100%);
  backdrop-filter: blur(10px) brightness(100%);
  background: linear-gradient(138.82deg, rgba(182, 221, 252, 0.35) 5.94%, rgba(226, 232, 255, 0.04) 95.34%);
  background-color: transparent;
  border-radius: 4px;
  height: 100%;
  left: calc(33.16% - 15px);
  position: absolute;
  top: 0px;
  width: 46px;
}
.iphone-x-xs-11-pro-22 .group-112-lGx2xT {
  -webkit-backdrop-filter: blur(10px) brightness(100%);
  backdrop-filter: blur(10px) brightness(100%);
  background: linear-gradient(138.82deg, rgba(182, 221, 252, 0.35) 5.94%, rgba(226, 232, 255, 0.04) 95.34%);
  background-color: transparent;
  border-radius: 4px;
  height: 100%;
  left: calc(33.16% - 15px);
  position: absolute;
  top: 0px;
  width: 46px;
}
.iphone-x-xs-11-pro-22 .group-113-b2XujX {
  -webkit-backdrop-filter: blur(10px) brightness(100%);
  backdrop-filter: blur(10px) brightness(100%);
  background: linear-gradient(138.82deg, rgba(182, 221, 252, 0.35) 5.94%, rgba(226, 232, 255, 0.04) 95.34%);
  background-color: transparent;
  border-radius: 4px;
  height: 100%;
  position: absolute;
  right: calc(33.16% - 15px);
  top: 0px;
  width: 46px;
}
.iphone-x-xs-11-pro-22 .group-113-lGx2xT {
  -webkit-backdrop-filter: blur(10px) brightness(100%);
  backdrop-filter: blur(10px) brightness(100%);
  background: linear-gradient(138.82deg, rgba(182, 221, 252, 0.35) 5.94%, rgba(226, 232, 255, 0.04) 95.34%);
  background-color: transparent;
  border-radius: 4px;
  height: 100%;
  position: absolute;
  right: calc(33.16% - 15px);
  top: 0px;
  width: 46px;
}
.iphone-x-xs-11-pro-22 .group-114-b2XujX {
  -webkit-backdrop-filter: blur(10px) brightness(100%);
  backdrop-filter: blur(10px) brightness(100%);
  background: linear-gradient(138.82deg, rgba(182, 221, 252, 0.35) 5.94%, rgba(226, 232, 255, 0.04) 95.34%);
  background-color: transparent;
  border-radius: 4px;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 46px;
}
.iphone-x-xs-11-pro-22 .group-114-lGx2xT {
  -webkit-backdrop-filter: blur(10px) brightness(100%);
  backdrop-filter: blur(10px) brightness(100%);
  background: linear-gradient(138.82deg, rgba(182, 221, 252, 0.35) 5.94%, rgba(226, 232, 255, 0.04) 95.34%);
  background-color: transparent;
  border-radius: 4px;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 46px;
}
.iphone-x-xs-11-pro-22 .group-115-2zqKZg {
  background-color: transparent;
  height: calc(100.00% - 28px);
  left: 1px;
  position: absolute;
  top: 1px;
  width: 100%;
}
.iphone-x-xs-11-pro-22 .group-115-6O7KbK {
  background-color: transparent;
  height: calc(100.00% - 28px);
  left: 1px;
  position: absolute;
  top: 1px;
  width: 100%;
}
.iphone-x-xs-11-pro-22 .group-117-T7vxb0 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-22 .group-118-C61RwL {
  background-color: transparent;
  height: 38px;
  left: 127px;
  position: absolute;
  top: 633px;
  width: 122px;
}
.iphone-x-xs-11-pro-22 .group-119-C61RwL {
  background-color: transparent;
  height: 88px;
  left: 70px;
  position: absolute;
  top: 477px;
  width: 236px;
}
.iphone-x-xs-11-pro-22 .group-127-C61RwL {
  background-color: transparent;
  height: 88px;
  left: 70px;
  position: absolute;
  top: 362px;
  width: 236px;
}
.iphone-x-xs-11-pro-22 .group-90-C61RwL {
  background-color: transparent;
  height: 102px;
  left: 141px;
  position: absolute;
  top: 55px;
  width: 92px;
}
.iphone-x-xs-11-pro-22 .group-93-b2XujX {
  -webkit-backdrop-filter: blur(10px) brightness(100%);
  backdrop-filter: blur(10px) brightness(100%);
  background: linear-gradient(138.82deg, rgba(182, 221, 252, 0.35) 5.94%, rgba(226, 232, 255, 0.04) 95.34%);
  background-color: transparent;
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 46px;
}
.iphone-x-xs-11-pro-22 .group-93-lGx2xT {
  -webkit-backdrop-filter: blur(10px) brightness(100%);
  backdrop-filter: blur(10px) brightness(100%);
  background: linear-gradient(138.82deg, rgba(182, 221, 252, 0.35) 5.94%, rgba(226, 232, 255, 0.04) 95.34%);
  background-color: transparent;
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 46px;
}
.iphone-x-xs-11-pro-22 .have-an-ac-gn-in-here-C61RwL {
  background-color: transparent;
  color: var(--white);
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 13px;
  height: auto;
  left: 98px;
  letter-spacing: 0.00px;
  line-height: 13px;
  opacity: 0.94;
  position: absolute;
  text-align: left;
  top: 742px;
  white-space: nowrap;
  width: auto;
}
.iphone-x-xs-11-pro-22 .mask-group-3-ojVoqP {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-22 .path-11-0N6bnk {
  background-color: transparent;
  height: calc(100.00% + 60px);
  left: -30px;
  position: absolute;
  top: -30px;
  width: calc(100.00% + 60px);
}
.iphone-x-xs-11-pro-22 .rectangle-36-GFE7nf {
  background-color: rgba(32,137,220,1.0);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: relative;
  top: 1px;
  width: 100%;
}
.iphone-x-xs-11-pro-22 .rectangle-40-C61RwL {
  background-color: transparent;
  height: 439px;
  left: -155px;
  position: absolute;
  top: 585px;
  width: 674px;
}
.iphone-x-xs-11-pro-22 .rectangle-41-C61RwL {
  background-color: transparent;
  height: 439px;
  left: -149px;
  position: absolute;
  top: -201px;
  width: 674px;
}
.iphone-x-xs-11-pro-22 .sign-up-T7vxb0 {
  background-color: transparent;
  bottom: calc(36.67% - 8px);
  height: 23px;
  letter-spacing: 0.00px;
  line-height: 16px;
  opacity: 0.94;
  position: absolute;
  right: calc(48.28% - 31px);
  text-align: left;
  white-space: nowrap;
  width: 64px;
}
.iphone-x-xs-11-pro-22 .span0-cX6hov {
  color: rgba(255,255,255,1.0);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 400;
}
.iphone-x-xs-11-pro-22 .span1-cX6hov {
  color: rgba(255,255,255,1.0);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 400;
  text-decoration: underline;
}
.iphone-x-xs-11-pro-22 .x-ALRbmg {
  background-color: transparent;
  bottom: calc(18.42% - 8px);
  height: 41px;
  letter-spacing: 0.00px;
  line-height: 30px;
  opacity: 0.52;
  position: absolute;
  right: calc(45.16% - 7px);
  text-align: left;
  white-space: nowrap;
  width: 15px;
}
.iphone-x-xs-11-pro-22 .x-D7iTye {
  background-color: transparent;
  bottom: calc(18.42% - 8px);
  height: 41px;
  letter-spacing: 0.00px;
  line-height: 30px;
  opacity: 0.52;
  position: absolute;
  right: calc(45.16% - 7px);
  text-align: left;
  white-space: nowrap;
  width: 15px;
}
.iphone-x-xs-11-pro-22 .x-GP2uYP {
  background-color: transparent;
  bottom: calc(18.42% - 8px);
  height: 41px;
  letter-spacing: 0.00px;
  line-height: 30px;
  opacity: 0.52;
  position: absolute;
  right: calc(45.16% - 7px);
  text-align: left;
  white-space: nowrap;
  width: 15px;
}
.iphone-x-xs-11-pro-22 .x-IJlrJM {
  background-color: transparent;
  bottom: calc(18.42% - 8px);
  height: 41px;
  letter-spacing: 0.00px;
  line-height: 30px;
  opacity: 0.52;
  position: absolute;
  right: calc(45.16% - 7px);
  text-align: left;
  white-space: nowrap;
  width: 15px;
}
.iphone-x-xs-11-pro-22 .x-Svn9nO {
  background-color: transparent;
  bottom: calc(18.42% - 8px);
  height: 41px;
  letter-spacing: 0.00px;
  line-height: 30px;
  opacity: 0.52;
  position: absolute;
  right: calc(45.16% - 7px);
  text-align: left;
  white-space: nowrap;
  width: 15px;
}
.iphone-x-xs-11-pro-22 .x-fdhTzA {
  background-color: transparent;
  bottom: calc(18.42% - 8px);
  height: 41px;
  letter-spacing: 0.00px;
  line-height: 30px;
  opacity: 0.52;
  position: absolute;
  right: calc(45.16% - 7px);
  text-align: left;
  white-space: nowrap;
  width: 15px;
}
.iphone-x-xs-11-pro-22 .x-mw2DOJ {
  background-color: transparent;
  bottom: calc(18.42% - 8px);
  height: 41px;
  letter-spacing: 0.00px;
  line-height: 30px;
  opacity: 0.52;
  position: absolute;
  right: calc(45.16% - 7px);
  text-align: left;
  white-space: nowrap;
  width: 15px;
}
.iphone-x-xs-11-pro-22 .x-x1KTrc {
  background-color: transparent;
  bottom: calc(18.42% - 8px);
  height: 41px;
  letter-spacing: 0.00px;
  line-height: 30px;
  opacity: 0.52;
  position: absolute;
  right: calc(45.16% - 7px);
  text-align: left;
  white-space: nowrap;
  width: 15px;
}
.roboto-bold-white-16px {
  color: var(--white);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.roboto-medium-white-30px {
  color: var(--white);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
}
.roboto-normal-white-13px {
  color: var(--white);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-white-16px {
  color: var(--white);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.white-2-border-1px {
  border: 1px solid var(--white-2);
}
:root {
  --green-blue: rgba(15,116,188,1.0);
  --onyx: rgba(51,51,59,1.0);
  --white: rgba(255,255,255,1.0);
  --white-2: rgba(255,255,255,0.6);
}
