/* screen - iphone-x-xs-11-pro-11 */

.iphone-x-xs-11-pro-11 {
  background-color: var(--onyx);
  height: 812px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}
.iphone-x-xs-11-pro-11 .balance-D1n0rW {
  background-color: transparent;
  height: 23px;
  left: calc(24.57% - 15px);
  letter-spacing: 0.16px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 61px;
}
.iphone-x-xs-11-pro-11 .ee-asset-1-wz81jh {
  background-color: transparent;
  height: calc(100.00% - 4px);
  left: 2px;
  position: absolute;
  top: 2px;
  width: calc(100.00% - 4px);
}
.iphone-x-xs-11-pro-11 .ellipse-17-xwQzQP {
  background-color: var(--green-blue);
  border-radius: 45px;
  height: calc(100.00% - 9px);
  position: absolute;
  right: -53px;
  top: 0px;
  width: 90px;
}
.iphone-x-xs-11-pro-11 .ellipse-18-5brNdF {
  background-color: var(--white);
  border-radius: 2.5px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 5px;
}
.iphone-x-xs-11-pro-11 .ellipse-19-5brNdF {
  background-color: var(--white);
  border-radius: 2.5px;
  height: 100%;
  left: calc(50.00% - 2px);
  position: absolute;
  top: 0px;
  width: 5px;
}
.iphone-x-xs-11-pro-11 .ellipse-20-5brNdF {
  background-color: var(--white);
  border-radius: 2.5px;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 5px;
}
.iphone-x-xs-11-pro-11 .group-27-3rTO2p {
  background-color: transparent;
  bottom: calc(49.02% - 9px);
  height: 19px;
  position: absolute;
  right: calc(49.02% - 9px);
  width: 19px;
}
.iphone-x-xs-11-pro-11 .group-34-YQC0Kc {
  background-color: var(--green-blue);
  border-radius: 26px;
  height: calc(100.00% - 18px);
  left: 9px;
  position: relative;
  top: 9px;
  width: calc(100.00% - 18px);
}
.iphone-x-xs-11-pro-11 .group-42-C61RwL {
  background-color: transparent;
  height: 59px;
  left: 286px;
  position: absolute;
  top: 18px;
  width: 54px;
}
.iphone-x-xs-11-pro-11 .group-43-C61RwL {
  background-color: transparent;
  background-image: url(../img/path-6@1x.png);
  background-size: 100% 100%;
  height: 45px;
  left: 24px;
  position: absolute;
  top: 25px;
  width: 37px;
}
.iphone-x-xs-11-pro-11 .group-48-C61RwL {
  background-color: rgba(48,141,209,1.0);
  border-radius: 35px;
  box-shadow: 0px 3px 6px rgba(51,155,232,0.561);;
  height: 70px;
  left: 153px;
  position: absolute;
  top: 728px;
  width: 70px;
}
.iphone-x-xs-11-pro-11 .group-54-4W6TZx {
  background-color: transparent;
  height: 100%;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 100%;
}
.iphone-x-xs-11-pro-11 .group-55-C61RwL {
  background-color: transparent;
  height: 5px;
  left: 206px;
  position: absolute;
  top: 184px;
  width: 14px;
}
.iphone-x-xs-11-pro-11 .group-65-LHsGeo {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 100%;
}
.iphone-x-xs-11-pro-11 .group-66-LHsGeo {
  background-color: transparent;
  height: calc(100.00% - 4px);
  left: 2px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 4px);
}
.iphone-x-xs-11-pro-11 .group-74-BxCxJK {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-11 .group-75-cPi90N {
  background-color: transparent;
  height: 33px;
  left: 28px;
  position: absolute;
  top: calc(27.53% - 9px);
  width: 38px;
}
.iphone-x-xs-11-pro-11 .group-79-BxCxJK {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-11 .group-80-D1n0rW {
  background-color: transparent;
  height: 28px;
  left: 31px;
  position: absolute;
  top: calc(25.02% - 7px);
  width: 34px;
}
.iphone-x-xs-11-pro-11 .group-81-2p4Gmi {
  background-color: transparent;
  height: 28px;
  left: 37px;
  position: absolute;
  top: calc(25.90% - 7px);
  width: 21px;
}
.iphone-x-xs-11-pro-11 .group-82-cPi90N {
  background-color: transparent;
  bottom: calc(27.87% - 11px);
  height: 38px;
  position: absolute;
  right: 28px;
  width: 294px;
}
.iphone-x-xs-11-pro-11 .group-84-D1n0rW {
  background-color: transparent;
  bottom: calc(27.87% - 11px);
  height: 38px;
  position: absolute;
  right: 28px;
  width: 294px;
}
.iphone-x-xs-11-pro-11 .group-85-2p4Gmi {
  background-color: transparent;
  bottom: calc(27.87% - 11px);
  height: 38px;
  position: absolute;
  right: 28px;
  width: 294px;
}
.iphone-x-xs-11-pro-11 .group-86-C61RwL {
  -webkit-backdrop-filter: blur(14px) brightness(100%);
  backdrop-filter: blur(14px) brightness(100%);
  background: linear-gradient(102.03deg, rgba(81, 228, 255, 0.15) 2.8%, rgba(255, 255, 255, 0.22) 98.75%);
  background-color: transparent;
  height: 99px;
  left: -16px;
  position: absolute;
  top: 249px;
  width: 407px;
}
.iphone-x-xs-11-pro-11 .group-87-C61RwL {
  -webkit-backdrop-filter: blur(14px) brightness(100%);
  backdrop-filter: blur(14px) brightness(100%);
  background: linear-gradient(102.03deg, rgba(81, 228, 255, 0.15) 2.8%, rgba(255, 255, 255, 0.22) 98.75%);
  background-color: transparent;
  height: 99px;
  left: -16px;
  position: absolute;
  top: 391px;
  width: 407px;
}
.iphone-x-xs-11-pro-11 .group-88-C61RwL {
  -webkit-backdrop-filter: blur(14px) brightness(100%);
  backdrop-filter: blur(14px) brightness(100%);
  background: linear-gradient(102.03deg, rgba(81, 228, 255, 0.15) 2.8%, rgba(255, 255, 255, 0.22) 98.75%);
  background-color: transparent;
  height: 99px;
  left: -16px;
  position: absolute;
  top: 532px;
  width: 407px;
}
.iphone-x-xs-11-pro-11 .group-89-C61RwL {
  background-color: transparent;
  height: 5px;
  left: 313px;
  position: absolute;
  top: 164px;
  width: 25px;
}
.iphone-x-xs-11-pro-11 .home-C61RwL {
  background-color: transparent;
  color: var(--white);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 69px;
  letter-spacing: 0.00px;
  line-height: 30px;
  opacity: 0.94;
  position: absolute;
  text-align: left;
  top: 142px;
  white-space: nowrap;
  width: auto;
}
.iphone-x-xs-11-pro-11 .line-10-2ixMfM {
  background-color: transparent;
  height: 32px;
  left: 28.20%;
  position: absolute;
  top: 7.01%;
  width: 33px;
}
.iphone-x-xs-11-pro-11 .line-10-j0ZU6U {
  background-color: transparent;
  bottom: calc(35.46% - 1px);
  height: 2px;
  position: absolute;
  right: calc(20.42% - 1px);
  width: 3px;
}
.iphone-x-xs-11-pro-11 .line-11-2ixMfM {
  background-color: transparent;
  bottom: -1.31%;
  height: 33px;
  position: absolute;
  right: calc(537.87% - 172px);
  width: 32px;
}
.iphone-x-xs-11-pro-11 .line-11-j0ZU6U {
  background-color: transparent;
  height: 3px;
  left: calc(25.13% - 1px);
  position: absolute;
  top: calc(41.51% - 1px);
  width: 2px;
}
.iphone-x-xs-11-pro-11 .line-12-2ixMfM {
  background-color: transparent;
  bottom: -12px;
  height: 33px;
  position: absolute;
  right: calc(537.87% - 172px);
  width: 32px;
}
.iphone-x-xs-11-pro-11 .line-12-j0ZU6U {
  background-color: transparent;
  bottom: 3px;
  height: 3px;
  left: calc(25.13% - 1px);
  position: absolute;
  width: 2px;
}
.iphone-x-xs-11-pro-11 .line-9-2ixMfM {
  background-color: transparent;
  height: 30px;
  position: absolute;
  right: -14.04%;
  top: -11px;
  width: 48px;
}
.iphone-x-xs-11-pro-11 .line-9-j0ZU6U {
  background-color: transparent;
  height: 1px;
  left: calc(35.05% - 6px);
  position: absolute;
  top: 4px;
  width: 18px;
}
.iphone-x-xs-11-pro-11 .log-out-C61RwL {
  background-color: transparent;
  color: rgba(223,223,223,1.0);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 69px;
  letter-spacing: 0.00px;
  line-height: 13px;
  position: absolute;
  text-align: left;
  top: 42px;
  white-space: nowrap;
  width: auto;
}
.iphone-x-xs-11-pro-11 .mask-group-2-C61RwL {
  background-color: transparent;
  height: 99px;
  left: 276px;
  position: absolute;
  top: -90px;
  width: 359px;
}
.iphone-x-xs-11-pro-11 .online-cPi90N {
  background-color: transparent;
  height: 23px;
  left: calc(23.74% - 12px);
  letter-spacing: 0.16px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 49px;
}
.iphone-x-xs-11-pro-11 .path-11-wz81jh {
  background-color: transparent;
  height: calc(100.00% + 60px);
  left: -30px;
  position: absolute;
  top: -30px;
  width: calc(100.00% + 60px);
}
.iphone-x-xs-11-pro-11 .path-12-9t1ZZP {
  background-color: transparent;
  height: calc(100.00% + 3px);
  position: absolute;
  right: calc(49.09% - 1px);
  top: -2px;
  width: 3px;
}
.iphone-x-xs-11-pro-11 .path-13-9t1ZZP {
  background-color: transparent;
  height: 3px;
  left: -1px;
  position: absolute;
  top: calc(48.50% - 1px);
  width: calc(100.00% + 3px);
}
.iphone-x-xs-11-pro-11 .path-24-C61RwL {
  background-color: transparent;
  height: 513px;
  left: -148px;
  position: absolute;
  top: -144px;
  width: 672px;
}
.iphone-x-xs-11-pro-11 .path-25-C61RwL {
  background-color: transparent;
  height: 228px;
  left: -6px;
  position: absolute;
  top: -1px;
  width: 387px;
}
.iphone-x-xs-11-pro-11 .path-28-cPi90N {
  background-color: transparent;
  bottom: 23.69%;
  height: 1px;
  left: 30px;
  position: absolute;
  width: 1px;
}
.iphone-x-xs-11-pro-11 .path-34-FID2S1 {
  background-color: transparent;
  bottom: -20.35%;
  height: 46px;
  position: absolute;
  right: -9.44%;
  width: 46px;
}
.iphone-x-xs-11-pro-11 .path-34-L6Efmp {
  background-color: transparent;
  height: 6px;
  left: calc(50.00% - 3px);
  position: absolute;
  top: calc(50.00% - 3px);
  width: 6px;
}
.iphone-x-xs-11-pro-11 .path-35-FID2S1 {
  background-color: transparent;
  height: calc(100.00% + 24px);
  left: 18.06%;
  position: absolute;
  top: -12px;
  width: 42px;
}
.iphone-x-xs-11-pro-11 .path-35-L6Efmp {
  background-color: transparent;
  height: calc(100.00% - 11px);
  position: absolute;
  right: calc(24.36% - 1px);
  top: 6px;
  width: 4px;
}
.iphone-x-xs-11-pro-11 .path-36-FID2S1 {
  background-color: transparent;
  height: calc(100.00% + 38px);
  position: absolute;
  right: -20px;
  top: -19px;
  width: 43px;
}
.iphone-x-xs-11-pro-11 .path-36-L6Efmp {
  background-color: transparent;
  height: calc(100.00% + 1px);
  position: absolute;
  right: -1px;
  top: -1px;
  width: 6px;
}
.iphone-x-xs-11-pro-11 .path-37-FID2S1 {
  background-color: transparent;
  height: calc(100.00% + 24px);
  position: absolute;
  right: 18.06%;
  top: -12px;
  width: 42px;
}
.iphone-x-xs-11-pro-11 .path-37-L6Efmp {
  background-color: transparent;
  height: calc(100.00% - 11px);
  left: calc(24.36% - 1px);
  position: absolute;
  top: 6px;
  width: 4px;
}
.iphone-x-xs-11-pro-11 .path-38-FID2S1 {
  background-color: transparent;
  height: calc(100.00% + 38px);
  left: -20px;
  position: absolute;
  top: -19px;
  width: 43px;
}
.iphone-x-xs-11-pro-11 .path-38-L6Efmp {
  background-color: transparent;
  height: calc(100.00% + 1px);
  left: -1px;
  position: absolute;
  top: -1px;
  width: 6px;
}
.iphone-x-xs-11-pro-11 .path-43-2ixMfM {
  background-color: transparent;
  height: calc(100.00% + 32px);
  left: -16px;
  position: absolute;
  top: -16px;
  width: calc(100.00% + 32px);
}
.iphone-x-xs-11-pro-11 .path-43-j0ZU6U {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: -1px;
  position: absolute;
  top: -1px;
  width: calc(100.00% + 2px);
}
.iphone-x-xs-11-pro-11 .path-44-2ixMfM {
  background-color: transparent;
  height: 41px;
  position: absolute;
  right: -15px;
  top: -9.15%;
  width: 43px;
}
.iphone-x-xs-11-pro-11 .path-44-j0ZU6U {
  background-color: transparent;
  bottom: calc(26.96% - 3px);
  height: 11px;
  position: absolute;
  right: 1px;
  width: 13px;
}
.iphone-x-xs-11-pro-11 .path-45-2ixMfM {
  background-color: transparent;
  height: 41px;
  position: absolute;
  right: 13.04%;
  top: -8.18%;
  width: 40px;
}
.iphone-x-xs-11-pro-11 .path-45-j0ZU6U {
  background-color: transparent;
  bottom: calc(27.65% - 3px);
  height: 11px;
  left: calc(19.32% - 2px);
  position: absolute;
  width: 10px;
}
.iphone-x-xs-11-pro-11 .path-48-ZQYAq6 {
  background-color: transparent;
  height: calc(100.00% + 32px);
  left: -17px;
  position: absolute;
  top: -16px;
  width: calc(100.00% + 33px);
}
.iphone-x-xs-11-pro-11 .path-49-ZQYAq6 {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: -2px;
  position: absolute;
  top: -1px;
  width: calc(100.00% + 3px);
}
.iphone-x-xs-11-pro-11 .path-5-NuAwbu {
  background-color: transparent;
  height: calc(100.00% - 25px);
  left: -1px;
  position: absolute;
  top: -2px;
  width: calc(100.00% - 25px);
}
.iphone-x-xs-11-pro-11 .rectangle-12-KHsZQz {
  background: linear-gradient(90deg, #0079bf -1561.76%, #007ec5 -1561.02%, #007dc4 -1557.19%, #007dc1 -1553.36%, #007ec0 -1552.72%);
  background-color: transparent;
  height: calc(100.00% + 10px);
  left: 1px;
  position: relative;
  top: -5px;
  transform: rotate(-59.90deg);
  width: calc(100.00% - 3px);
}
.iphone-x-xs-11-pro-11 .rectangle-2-C61RwL {
  background-color: transparent;
  height: 439px;
  left: -149px;
  position: absolute;
  top: 653px;
  width: 674px;
}
.iphone-x-xs-11-pro-11 .rectangle-47-C61RwL {
  background-color: var(--onyx);
  height: 29px;
  left: 307px;
  position: absolute;
  top: 150px;
  width: 41px;
}
.iphone-x-xs-11-pro-11 .total-created-2p4Gmi {
  background-color: transparent;
  height: 23px;
  left: calc(27.69% - 28px);
  letter-spacing: 0.16px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 100px;
}
.iphone-x-xs-11-pro-11 .ww-asset-4-1KHzIN {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-11 .ww-asset-4-2z6JRA {
  background-color: transparent;
  height: calc(100.00% + 18px);
  left: -9px;
  position: absolute;
  top: -9px;
  width: calc(100.00% + 18px);
}
.iphone-x-xs-11-pro-11 .ww-asset-4-F6B0NR {
  background-color: transparent;
  height: calc(100.00% + 18px);
  left: -9px;
  position: absolute;
  top: -9px;
  width: calc(100.00% + 18px);
}
.iphone-x-xs-11-pro-11 .ww-asset-4-Fzk2vz {
  background-color: transparent;
  height: calc(100.00% + 18px);
  left: -9px;
  position: absolute;
  top: -9px;
  width: calc(100.00% + 18px);
}
.iphone-x-xs-11-pro-11 .ww-asset-4-G0YJTh {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-11 .ww-asset-4-J3SNM9 {
  background-color: transparent;
  height: calc(100.00% + 18px);
  left: -9px;
  position: absolute;
  top: -9px;
  width: calc(100.00% + 18px);
}
.iphone-x-xs-11-pro-11 .ww-asset-4-QpUUxI {
  background-color: transparent;
  height: calc(100.00% + 24px);
  left: -12px;
  position: absolute;
  top: -12px;
  width: calc(100.00% + 24px);
}
.iphone-x-xs-11-pro-11 .ww-asset-4-RPmQNQ {
  background-color: transparent;
  height: calc(100.00% + 18px);
  left: -9px;
  position: absolute;
  top: -9px;
  width: calc(100.00% + 18px);
}
.iphone-x-xs-11-pro-11 .ww-asset-4-Vb2xrJ {
  background-color: transparent;
  height: calc(100.00% + 24px);
  left: -12px;
  position: absolute;
  top: -12px;
  width: calc(100.00% + 24px);
}
.iphone-x-xs-11-pro-11 .ww-asset-4-iqxdiH {
  background-color: transparent;
  height: calc(100.00% + 18px);
  left: -9px;
  position: absolute;
  top: -9px;
  width: calc(100.00% + 18px);
}
.iphone-x-xs-11-pro-11 .ww-asset-4-rgpE5r {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.iphone-x-xs-11-pro-11 .ww-asset-4-ylrxHZ {
  background-color: transparent;
  height: calc(100.00% + 24px);
  left: -12px;
  position: absolute;
  top: -12px;
  width: calc(100.00% + 24px);
}
.iphone-x-xs-11-pro-11 .x100-2p4Gmi {
  background-color: transparent;
  bottom: calc(29.61% - 7px);
  height: 23px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: calc(20.37% - 6px);
  text-align: left;
  white-space: nowrap;
  width: 29px;
}
.iphone-x-xs-11-pro-11 .x100-D1n0rW {
  background-color: transparent;
  bottom: calc(29.61% - 7px);
  height: 23px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: calc(20.37% - 6px);
  text-align: left;
  white-space: nowrap;
  width: 29px;
}
.iphone-x-xs-11-pro-11 .x100-cPi90N {
  background-color: transparent;
  bottom: calc(29.61% - 7px);
  height: 23px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: calc(20.37% - 6px);
  text-align: left;
  white-space: nowrap;
  width: 29px;
}
.roboto-bold-white-16px {
  color: var(--white);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.roboto-medium-white-30px {
  color: var(--white);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
}
.roboto-normal-white-13px {
  color: var(--white);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-white-16px {
  color: var(--white);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.white-2-border-1px {
  border: 1px solid var(--white-2);
}
:root {
  --green-blue: rgba(15,116,188,1.0);
  --onyx: rgba(51,51,59,1.0);
  --white: rgba(255,255,255,1.0);
  --white-2: rgba(255,255,255,0.6);
}
